* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #34db7a;
}

.container {
  max-width: 400px;
  margin: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #fafafa;
  color: #333;
  transition: 0.2s;
}
.container.active #qrCode {
  opacity: 1;
}

#qrForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #f4f4f4;
  border: 1px solid #333;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
  color: #333;
}
#qrForm label {
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

#qrForm input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

#qrForm button[type="submit"] {
  font-size: 1rem;
  background-color: #7526aa;
  color: #333;
  border: 1px solid #33333350;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  opacity: 0.8;
}

#qrForm button[type="submit"]:hover {
  opacity: 1;
}
#qrCode {
  display: flex;
  opacity: 0;
  transition: opacity 0.2s;
}
